.StationList-Container {
  background-color: #00a1de;
  color: White;
  font-size: calc(8px + 3vmin);
  padding-top: 1px;
  padding-left: 1ch;
  padding-bottom: .5em;
}

.StationList-Table-Container {
  height: 4em;
  overflow: auto;
}

/* table {
  border-collapse: collapse;
  width: 90vmin;
  text-align: left;
}

tbody{
  font-size: .7em;
}

tr:nth-child(even) {
  background-color: white;
  color: black;
} */